<div class="about">
    <div class="about-smallTitle smallTitle"><%= smallTitle %></div>
    <div class="about-bigTitle bigTitle">
        <%= bigTitle %>
    </div>
    <div class="about-content"><%- aboutContent %></div>
</div>