<div class="banner">
    <div class="banner-text">
        <div class="banner-big-text"><%- bannerTitle %></div>
        <br>
        <div class="banner-small-text"><%= subTitle %></div>
        <br>
        <button onclick="window.open('/resume','_blank')" class="banner-button"><%= buttonText %> <i
                class="fa fa-download"></i></button>
    </div>
</div>