<div class="education">
    <div class="education-smallTitle smallTitle"><%= smallTitle %></div>
    <div class="education-bigTitle bigTitle"><%= bigTitle %></div>

    <% for(let i=0; i < education.length; i++) { %>
    <div class="education-tile">
        <div class="colorBox"></div>
        <div class="tileContent">
            <div class="tileText">
                <span class="educationyear"><%- education[i] %>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    //Education tiles colors
    const educationTiles = document.querySelectorAll('.education-tile');
    educationTiles[0].firstElementChild.style.backgroundColor = '#2d98f0';
    educationTiles[1].firstElementChild.style.backgroundColor = '#ec5554';

</script>