<div class="profile">
    <img src="../Images/profile_image.jpg">
</div>

<div class="text">
    <div class="name">Dăncău Sebastian</div>
    <div class="subname">
        <div style="color:#02b0e0; display: inline-block;"> WEB DEVELOPER </div> <%= profileCountry %>
    </div>
</div>