<ul class="social">
    <a href="https://www.facebook.com/sebastian.dancau.9/" target="_blank">
        <li title="facebook"><i class="fa fa-facebook" aria-hidden="true" title="facebook"></i></li>
    </a>
    <a href="https://twitter.com/sebidancau1701" target="_blank">
        <li title="twitter"><i class="fa fa-twitter" aria-hidden="true" title="twitter"></i></li>
    </a>
    <a href="https://github.com/Ssebi1" target="_blank">
        <li title="github"><i class="fa fa-github" aria-hidden="true" title="github"></i></li>
    </a>
</ul>