<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if(language === 'en') { %>
        Message Sent
        <% } else { %>
        Mesaj trimis
        <% } %>
    </title>
    <style>
        .flexBox {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .box {
            width: 80%;
            max-width: 400px;
            background-color: #F2F3F7;
            height: auto;
            margin-top: 5%;
            text-align: center;
            padding: 20px;
            border-radius: 10px 10px 0 0;
        }

        .title {
            font-size: 30px;
            margin-top: 10px;
        }

        .text {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .button {
            width: 80%;
            max-width: 440px;
            background-color: #02b0e0;
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: background 0.2s ease-in-out;
            border-radius: 0 0 10px 10px;
        }

        .button:hover {
            background-color: #03c2f7;

        }
    </style>
</head>

<body>



    <div class="flexBox">
        <div class="box">
            <div class="title">
                <% if(language === 'en') { %>
                Message Sent!
                <% } else { %>
                Mesaj trimis!
                <% } %>
            </div>
            <div class="text">
                <% if(language === 'en') { %>
                Thank you for contacting me. <br> You will receive a reply as soon as possible. <br> Have a great day!
                😊</div>
            <% } else { %>
            Mulțumesc că m-ai contactat. <br> O să primești un raspuns cat mai repede posibil. <br> Să ai o zi buna! 😊
        </div>
        <% } %>

    </div>
    <button class="button">
        <% if(language === 'en') { %>
        Get back to the website
        <% } else { %>
        Mergi inapoi la website
        <% } %>
    </button>

    <script>
        document.querySelector('.button').addEventListener('click', () => {
            window.location.href = '/';
        })
    </script>
</body>

</html>