@font-face {
	font-family: regularFont;
	src: url(../font/Ubuntu-Regular.ttf);
	/* font-family: libreFont;
	src: url(../font/LibreBaskerville-Regular.ttf); */
}

html {
	height: -webkit-fill-available;
}

body {
	margin: 0;
	padding: 0;
	font-family: regularFont;
	line-height: auto;
}

.main {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	height: auto;
	display: flex;
}

.leftside {
	position: fixed;
	z-index: 20;
	display: inline-block;
	width: 320px;
	background-color: #f2f3f7;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow: auto;
	text-align: center;
	justify-content: center;
	transition: transform .3s ease-in-out;
	transform: translateX(0px);
}

.rightside {
	display: inline-block;
	width: 100%;
	max-width: 780px;
	height: auto;
	margin-left: 320px;
	transition: .3s ease-in-out;
}

.profile img {
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	margin-top: 60px;
}

.name {
	font-size: 24px;
	margin-top: 40px;
	font-family: libreFont;
}

.subname {
	font-size: 12px;
	color: #777;
	margin-top: 8px;
}

.navigation ul li {
	list-style-type: none;
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 19px;
}

.navLink {
	color: #777;
	text-decoration: none;
	cursor: pointer;
}

.navigation {
	margin-left: -43px;
	margin-top: 55px;
}

.navLink:hover {
	border-bottom: 2px solid #02b0e0;
}

.active {
	border-bottom: 2px solid #02b0e0;
	color: #02b0e0;
}

.footer {
	font-size: 14px;
	color: #777;
	margin-top: 50px;
}

.languageSelect {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.language {
	width: 30px;
	height: 20px;
	margin: 5px;
	background-position: center;
	background-size: cover;
	border: 2px solid #F2F3F7;
	cursor: pointer;
}

.english {
	background-image: url('./Images/english.png');
}

.romanian {
	background-image: url('./Images/romanian.png');
}

@media only screen and (max-height: 700px) {
	.profile img {
		margin-top: 10px;
	}
	.name {
		margin-top: 10px;
	}
	.navigation {
		margin-top: 10px;
	}
	.footer {
		margin-top: 10px;
	}
}

@media only screen and (max-height: 600px) {
	.profile img {
		width: 70px;
		height: 70px;
	}
	.navigation ul li {
		font-size: 15px;
	}
}

.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../Images/cover_image.jpg');
	background-position: center;
	background-size: cover;
}

.banner-text {
	position: relative;
	padding-top: 37vh;
	padding-left: 50px;
}

.banner-big-text {
	font-family: libreFont;
	font-size: 60px;
}

.banner-small-text {
	font-size: 20px;
	color: rgb(99, 99, 99);
}

.banner-button {
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 15px;
	color: #777;
	border: 1px solid #777;
	cursor: pointer;
	transition: 0.15s ease;
}

.banner-button:hover {
	color: black;
	border-color: black;
}

.about {
	max-width: 100%;
	height: auto;
	color: black;
	padding: 40px;
	margin-top: 50px;
}

.smallTitle {
	font-size: 13px;
	color: #777;
	padding-bottom: 10px;
}

.bigTitle {
	font-size: 26px;
	padding-bottom: 30px;
}

.about-content {
	font-size: 18px;
	color: #777;
	padding-left: 5px;
	padding-right: 5px;
}

.education {
	max-width: 100%;
	height: auto;
	color: black;
	padding: 40px;
	margin-top: 30px;
}

.education-tile {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
}

.colorBox {
	height: auto;
	width: 50px;
	opacity: 0.8;
}

.tileContent {
	width: 100%;
	background-color: rgba(241, 241, 241, 0.747);
	position: relative;
}

.tileText {
	position: relative;
	padding: 20px;
	font-size: 16px;
}

.educationyear {
	color: #777;
	font-size: 14px;
}

.skills {
	max-width: 100%;
	height: auto;
	color: black;
	padding: 40px;
	margin-top: 50px;
}

.skillTile {
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: rgba(241, 241, 241, 0.747);
	height: auto;
}

.skillTitle {
	font-size: 20px;
	padding: 8px 0 0 7px;
	color: #777;
}

.skillArea {
	max-width: 100%;
	margin: 0 auto;
	margin: 10px 10px 15px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.skillImage {
	height: 30px;
	width: auto;
	padding: 0 10px 0 10px;
}

.projects {
	max-width: 100%;
	height: auto;
	color: black;
	padding: 40px;
	margin-top: 50px;
}

.project-categories {
	padding-inline-start: 2px;
}

.projects-bigTitle {
	padding-bottom: 10px;
}

.projectLi {
	color: #777;
}

.selected {
	color: #02b0e0;
}

.project-categories li {
	list-style-type: none;
	display: inline;
	padding-right: 30px;
	cursor: pointer;
}

.projectArea {
	width: 100%;
	height: auto;
}

.projectsFlexContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project-tile {
	width: 100%;
	max-width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor: pointer;
	padding: 10px;
}

.project-image {
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

.project-content {
	background-color: #F2F3F7;
	height: auto;
	min-height: 100px;
	max-width: 100%;
	padding: 10px;
}

.project-title {
	font-size: 20px;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}

.project-description {
	color: #777;
}

.projectArea a {
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 1060px) and (min-width: 781px) {
	.project-tile {
		max-width: none;
	}
}

@media only screen and (max-width: 736px) {
	.project-tile {
		max-width: none;
	}
}

.art {
	display: none;
}

.buttonFlexContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewMore {
	padding: 10px 50px;
	margin-top: 20px;
	background-color: #2d98f0;
	outline: none;
	border: none;
	color: white;
	border-radius: 3px;
	transition: 0.15s ease-in-out background;
	cursor: pointer;
}

.viewMore:hover {
	background-color: #3ca4fa;
}

.contact {
	max-width: 100%;
	height: auto;
	color: black;
	padding: 40px;
	margin-top: 50px;
}

.contactArea {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.column1 {
	width: 50%;
}

.contact-tile {
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 30px;
}

.contact-square {
	width: 80px;
	height: 80px;
	background-color: #F2F3F7;
	color: #2d98f0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	border-radius: 3px;
}

.contact-text {
	font-size: 16px;
	margin-top: 30px;
	margin-left: 20px;
	color: #2d98f0;
}

.column2 {
	width: 50%;
	position: relative;
}

.column2 input {
	max-width: 100%;
	width: 100%;
	outline: none;
	border: none;
	background-color: #F2F3F7;
	margin-bottom: 20px;
	padding: 15px 10px;
	font-size: 16px;
	border-radius: 3px;
}

.column2 textarea {
	width: 100%;
	outline: none;
	border: none;
	background-color: #F2F3F7;
	border-radius: 3px;
	height: 80px;
	resize: none;
	overflow: auto;
	padding: 15px 10px;
	font-size: 16px;
}

.column2 button {
	width: 120px;
	padding: 10px;
	outline: none;
	border: none;
	background-color: #2d98f0;
	color: white;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
	transition: .15s ease-in-out background;
}

.column2 button:hover {
	background-color: #3ca4fa;
}

/* Navbar getting closed */

@media only screen and (max-width: 780px) {
	.leftside {
		transform: translateX(-320px);
	}
	.rightside {
		margin-left: 0px;
	}
}

/* Contact flex direction */

@media only screen and (max-width: 990px) and (min-width: 780px) {
	.contactArea {
		flex-wrap: wrap;
	}
	.column1, .column2 {
		width: 100%;
	}
}

@media only screen and (max-width: 660px) {
	.contactArea {
		flex-wrap: wrap;
	}
	.column1, .column2 {
		width: 100%;
	}
}

.hamburgerIcon {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 30;
	cursor: pointer;
	display: none;
	transition: .3s ease-in-out;
}

.line {
	width: 30px;
	height: 2px;
	background-color: black;
	transition: 0.3s ease-in-out;
}

.line2 {
	margin-top: 5px;
}

.line3 {
	margin-top: 5px;
}

@media only screen and (max-width: 780px) {
	.hamburgerIcon {
		display: block;
	}
}